{% extends "base.html" %}

{% block carousel %}
  {% include 'components/carousel.html' %}  
{% endblock carousel %}
  
{% block cards %}
<div class="container my-5" id="cards">
  <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">Services</h6>
  <h3 class="font-weight-bold text-center dark-grey-text pb-2">Our Services</h3>
  <hr class="w-header my-4">
  <p class="lead text-center text-muted pt-2 mb-5">Join thousands of satisfied customers using our template globally.</p>

  <div class="row">
    <div class="col-md-6 col-xl-3 mb-4">
        {% include 'components/card.html' with cardImage="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" cardTitle="Card Title!" cardText="Some quick example text to build on the card title and make up the bulk of the card's content!" %}
    </div>

    <div class="col-md-6 col-xl-3 mb-4">
      {% include 'components/card.html' with cardImage="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" cardTitle="Card Title!" cardText="Some quick example text to build on the card title and make up the bulk of the card's content!" %}
    </div>

    <div class="col-md-6 col-xl-3 mb-4">
      {% include 'components/card.html' with cardImage="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" cardTitle="Card Title!" cardText="Some quick example text to build on the card title and make up the bulk of the card's content!" %}
    </div>

    <div class="col-md-6 col-xl-3 mb-4">
      {% include 'components/card.html' with cardImage="https://mdbootstrap.com/img/Photos/Others/images/43.jpg" cardTitle="Card Title!" cardText="Some quick example text to build on the card title and make up the bulk of the card's content!" %}
    </div>
  </div>
</div>
{% endblock cards %}


{% block counter %}
  {% include 'components/counter.html' %}
{% endblock counter %}
  

  
  



