{% extends "base.html" %}

{% block title %} - Services {% endblock %}

{% block services %}

    {% if slugName == "addiction-counselling" %}
        <!--Jumbotron-->
        {% load static %}
        <div class="jumbotron jumbotron-header mb-0" id="push-down-under-nav" style="background-image: url('/static/header-addiction-counselling.jpg');">
            <div class="text-white text-center py-0 px-4">
                <h1 class="card-title h1-responsive font-bold mx-auto my-5 py-5 jumbotron-text"><strong>Addiction Counselling</strong></h1>
            </div>
        </div>

        <div class="container my-5 py-5 z-depth-1">
            <div class="row px-md-5 dark-grey-text text-center text-lg-left">
        
                <div class="col-lg-7 mb-4 mb-lg-0">
                    {% load static %}
                    <img src="{% static "addiction-content.jpg" %}" class="img-fluid" alt="">
                </div>
        
                <div class="col-lg-5 mb-4 mb-lg-0">
        
                  <h3 class="font-weight-bold" style="color:#b000f7;">What includes Addiction Counselling?</h3>
        
                  <p class="font-weight-bold">Here is the list of a few topics that we look into</p>
                    
                  <ul>
                    <li>Substance use</li> 
                    <li>  Alcohol and tobacco products addiction</li> 
                    <li>Social media and internet addiction</li>
                    <li>   Shopping addiction</li>
                    <li>   Sexual addiction </li>
                  </ul>
                  <p class="text-muted">
                    Being addicted is defines as Irrepressible desire towards an object, person or creature or going under domination of another will.
                    <br>
                    <br>
                    Addiction makes you powerless, it is a situation which you cannot overcome without getting professional help and your willpower.
                    <br>
                    <br>
                    Scientifically addiction is a chronic, bio-psycho-social brain disease. This situation is more of a family and community illness rather than an individuals illness.
                    <br>
                    <br>
                    That’s why the therapy and treatment should involve the family, society and the individual with a wide range spectrum.
                    <br>
                    <br>
                    In our centre our specialists provide education programs, counselling and addiction therapies for families and individuals.
                    <br>
                    <br>
                    Substance use disorder (nicotine, marijuana, heroin, cocain etc.)
                    <br>
                    <br>
                    Alcohol use disorder
                    <br>
                    <br>
                    Technology addiction (internet, computer games, mobile phones etc.
                    <br>
                    <br>
                    Gambling addiction
                    <br>
                    <br>
                    Shopping addiction
                  </p>
        
                  <a class="btn btn-lg font-weight-bold custom-button" href="#" >Learn more<i class="fas fa-angle-right ml-2"></i></a>
        
                </div>
              
            </div>
            
        </div>
   
    {% elif slugName == "adolescent-counselling" %}
        <!--Jumbotron-->
        {% load static %}
        <div class="jumbotron jumbotron-header mb-0" id="push-down-under-nav" style="background-image: url('/static/header-adolescent-counselling.jpg');">
            <div class="text-white text-center py-0 px-4">
                <h1 class="card-title h1-responsive font-bold mx-auto my-5 py-5 jumbotron-text"><strong>Adolescent Counselling</strong></h1>
            </div>
        </div>

        <div class="container my-5 py-5 z-depth-1">
            <div class="row px-md-5 dark-grey-text text-center text-lg-left">
        
                <div class="col-lg-7 mb-4 mb-lg-0">
                    {% load static %}
                    <img src="{% static "adolescent-content.jpg" %}" class="img-fluid" alt="">
                </div>
        
                <div class="col-lg-5 mb-4 mb-lg-0">
        
                  <h3 class="font-weight-bold" style="color:#b000f7;">What includes Adolescent Counselling?</h3>
                    
                  <p class="text-muted">
                    Every phase of development in human life is important, but as adolescence is a phase which transforms an individual from being a child into youth it is highly important.
                    <br>
                    <br>
                    In this phase the individual may have physical, social, mental and emotional hardship which may affect their adaptation into this phase as they won’t feel neither like a child nor like a youth anymore.
                    <br>
                    <br>
                    As a result individuals may have identity confusion during this phase.
                    <br>
                    <br>
                    As well as adolescents, families may have difficulties while trying to understand their children. During this phase families see that communication methods they have always used won’t work anymore, and sometimes feel helpless.
                    <br>
                    <br>
                    In Lifelong Counselling Center, our Specialist Adolescence Counsellors provides support for adolescents individual development, their communication with friends and people around them, their school performance, and strengthening their communication with their parents therefore helping them to build better attachment within the family.
                    <br>
                    <br>
                    The biggest benefit of adolescence counselling would be helping the adolescent to adapt to this phase which they feel confused and making their life easier in the future to become a successful individual.
                  </p>

                  <p class="font-weight-bold">Here is the list of a few topics that we look into</p>

                  <ul>
                    <li>Attention deficit and hyperactivity disorder (ADHD)</li> 
                    <li>Issues with sexual development</li> 
                    <li>Exam anxiety</li>
                    <li>Learning difficulties</li>
                    <li>Depression in adolescence</li>
                    <li>Adaptation problems in adolescence</li>
                    <li>Sleeping problems in adolescence</li>
                    <li>Obsessive and compulsive behaviours in adolescence (OCD)</li>
                    <li>Social phobia/ social anxiety</li>
                    <li>Addiction in adolescence</li>
                    <li>Deciding occupation and career</li>
                    <li>Problems with family</li>
                    <li>Problems with academic performance</li>
                  </ul>

        
                  <a class="btn btn-lg font-weight-bold custom-button" href="#" >Learn more<i class="fas fa-angle-right ml-2"></i></a>
        
                </div>
              
            </div>
            
        </div>

    {% elif slugName == "couples-and-marriage-counselling" %}
        <!--Jumbotron-->
        {% load static %}
        <div class="jumbotron jumbotron-header mb-0" id="push-down-under-nav" style="background-image: url('/static/header-couples-and-marriage-counselling.jpg');">
            <div class="text-white text-center py-0 px-4">
                <h1 class="card-title h1-responsive font-bold mx-auto my-5 py-5 jumbotron-text"><strong>Couples and Marriage Counselling</strong></h1>
            </div>
        </div>

        <div class="container my-5 py-5 z-depth-1">
            <div class="row px-md-5 dark-grey-text text-center text-lg-left">
        
                <div class="col-lg-7 mb-4 mb-lg-0">
                    {% load static %}
                    <img src="{% static "couples-and-marriage-content.jpg" %}" class="img-fluid" alt="">
                </div>
        
                <div class="col-lg-5 mb-4 mb-lg-0">
        
                  <h3 class="font-weight-bold" style="color:#b000f7;">What includes Couples and Marriage Counselling?</h3>
                    
                  <p class="text-muted">
                    We give counselling to couples preparing for marriage. During this phase we offer professional support to them in making decisions and also enhance their communication techniques and skills.
                    <br>
                    <br>
                    We offer support for the following; 
                    <br>
                    <ul>
                        <li>Self-recognition</li> 
                        <li>Getting to know your partner</li> 
                        <li>Expressing yourself correctly</li>
                        <li>Healthy and happy marriage</li>
                        <li>Sexual Counselling</li>
                        <li>Growing healthy kids and communication</li>
                        <li>Maintaining a healthy and happy marriage</li>
                    </ul>
                    <br>
                    Family, couple and marriage counselling works more towards the relationship rather than the individuals.
                    <br>
                    <br>
                    There are lots of problems that can occur in family and relationships.
                    <br>
                    <br>
                    Sometimes individuals may not be able to solve these problems in a healthy and right way. This may cause the problems to grow bigger and sometimes turning into a cycle that is difficult to break.
                    <br>
                    <br>
                    In this instance for the couples to get professional help would be the most healthy step they can take.
                    <br>
                    <br>
                    The couples who recieve professional help will be working with a counsellor who will provide them with an non-judgemental and  confidential environment where they are comfortable to be able to express their deep feelings and thoughts.
                    <br>
                  </p>

                  <ul>
                    <li>Unable to express themselves within the relationship,not feeling understood</li> 
                    <li>Sexual problems</li> 
                    <li>Not feeling love for partner</li>
                    <li>Support through divorce phase</li>
                    <li>Disloyalty in relationships and scare of abandonment</li>
                    <li>Growing healthy kids and communication</li>
                    <li>Maintaining a healthy and happy marriage</li>
                  </ul>

                  <p class="text-muted">
                    Individuals do not have to have major problems in order to seek professional help.
                    <br>
                    <br>
                    Individuals can get professional help to enhance their existing relationship, and to prepare and prevent the problems that can occur in the future.
                    <br>
                    <br>
                    In long term the biggest contribution of the therapy for the couples is having a better communication and being more understanding towards one another. This is  also preparation for the problems that may occur in the future for the couple.
                  </p>

        
                  <a class="btn btn-lg font-weight-bold custom-button" href="#" >Learn more<i class="fas fa-angle-right ml-2"></i></a>
        
                </div>
              
            </div>
            
        </div>

    {% elif slugName == "family-counselling" %}
        <!--Jumbotron-->
        {% load static %}
        <div class="jumbotron jumbotron-header mb-0" id="push-down-under-nav" style="background-image: url('/static/header-family-counselling.jpg');">
            <div class="text-white text-center py-0 px-4">
                <h1 class="card-title h1-responsive font-bold mx-auto my-5 py-5 jumbotron-text"><strong>Family Counselling</strong></h1>
            </div>
        </div>

        <div class="container my-5 py-5 z-depth-1">
            <div class="row px-md-5 dark-grey-text text-center text-lg-left">
        
                <div class="col-lg-7 mb-4 mb-lg-0">
                    {% load static %}
                    <img src="{% static "family-content.jpg" %}" class="img-fluid" alt="">
                </div>
        
                <div class="col-lg-5 mb-4 mb-lg-0">
        
                  <h3 class="font-weight-bold" style="color:#b000f7;">What includes Family Counselling?</h3>
                    
                  <p class="text-muted">
                    We provide support which includes partners and children, and see the family as a whole, that focuses on solutions in our family counselling sessions.
                  </p>

                  <p class="font-weight-bold">Here is the list of a few topics that we look into</p>

                  <ul>
                    <li>Divorce counselling)</li> 
                    <li>Communication problems</li> 
                    <li>Communication with kids</li>
                    <li>Raising healthy children</li>
                  </ul>

        
                  <a class="btn btn-lg font-weight-bold custom-button" href="#" >Learn more<i class="fas fa-angle-right ml-2"></i></a>
        
                </div>
              
            </div>
            
        </div>

    {% elif slugName == "individual-counselling" %}
        <!--Jumbotron-->
        {% load static %}
        <div class="jumbotron jumbotron-header mb-0" id="push-down-under-nav" style="background-image: url('/static/header-individual-counselling.jpg');">
            <div class="text-white text-center py-0 px-4">
                <h1 class="card-title h1-responsive font-bold mx-auto my-5 py-5 jumbotron-text"><strong>Individual Counselling</strong></h1>
            </div>
        </div>

        <div class="container my-5 py-5 z-depth-1">
            <div class="row px-md-5 dark-grey-text text-center text-lg-left">
        
                <div class="col-lg-7 mb-4 mb-lg-0">
                    {% load static %}
                    <img src="{% static "individual-content.jpg" %}" class="img-fluid" alt="">
                </div>
        
                <div class="col-lg-5 mb-4 mb-lg-0">
        
                  <h3 class="font-weight-bold" style="color:#b000f7;">What includes Individual Counselling?</h3>
                    
                  <p class="text-muted">
                    Individual counselling aims for the individuals to look into themselves and the events from a different perspective and to see the solutions which he/she could not see before. People can come for individual therapy to get help with the effects that’s still going on from the incidents in the past. (e.g. divorce, death, violence, exploitation, accidents, illnesses, cheating, natural disaster) 
                    <br>
                    <br>
                    Our professional therapists most commonly use the CBT approach and also when needed other effective therapy approaches.
                  </p>

                  <p class="font-weight-bold">Here is the list of a few topics that we look into</p>

                  <ul>
                    <li>Depression</li> 
                    <li>Post-Traumatic Stress Disorder (PTSD)</li> 
                    <li>Obsessive Compulsive Disorder (OCD)</li>
                    <li>Panic Disorders</li>
                    <li>Anxiety</li>
                    <li>Sexual Dysfunction</li>
                    <li>Postpartum Depression</li>
                    <li>Psychological problems that occurs during and after pregnancy</li>
                    <li>Adult attention deficit disorder and hyperactivity</li>
                    <li>Social Anxiety Disorder</li>
                    <li>Personality disorders</li>
                    <li>Hypochondriasis</li>
                    <li>Schizoids Personality Disorder</li>
                    <li>Paranoid Personality Disorder</li>
                    <li>Bipolar Disorder (Treating both ends of the spectrum)</li>
                    <li>Pain disorders (psychogenic pain)</li>
                    <li>Body Dysmorphic Disorder</li>
                    <li>Histrionic Personality Disorder</li>
                    <li>Convection Disorder</li>
                    <li>Dissociative Disorder</li>
                    <li>Addicted Personality Disorder</li>
                    <li>Borderline Personality Disorder</li>
                    <li>Narcissistic Personality Disorder</li>
                    <li>Weight Control</li>
                    <li>Eating Disorders</li>
                    <li>Sleeping Problems</li>
                    <li>Making decisions</li>
                    <li>EMDR</li>
                    <li>Treatments For Losing Weight and Obesity with Cognitive Behavioral Therapy</li>
                  </ul>

        
                  <a class="btn btn-lg font-weight-bold custom-button" href="#" >Learn more<i class="fas fa-angle-right ml-2"></i></a>
        
                </div>
              
            </div>
            
        </div>

    {% else %}
        <!--Jumbotron-->
        {% load static %}
        <div class="jumbotron jumbotron-header mb-0" id="push-down-under-nav" style="background-image: url('/static/test.jpg');">
            <div class="text-white text-center py-0 px-4">
                <h1 class="card-title h1-responsive font-bold mx-auto my-5 py-5 jumbotron-text"><strong>404 NOT FOUND</strong></h1>
            </div>
        </div>

       
    {% endif %}    
{% endblock services %}


