{% extends "base.html" %}

{% block title %} - Blog {% endblock %}

{% block blog %}
<div class="container my-5 py-5" id="push-down-under-nav">

    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

      <!--Grid row-->
      <div class="row d-flex justify-content-center">

        <!--Grid column-->
        <div class="col-lg-8 text-center">

          <h3 class="font-weight-bold mb-4">{{post.post_header}}</h3>
          <p>by <a class="font-weight-bold">{{post.author}}</a>, {{post.published_date}}</p>

          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="{{post.post_image.url}}" class="img-fluid"
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>

          <p class="dark-grey-text">{{post.post_content|safe}}</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>

  </div>

  <hr>

  {% include 'components/subscribeForm.html' %}
{% endblock %}