<!-- MultiStep Form -->
<div class="row justify-content-md-center" style="background: #6441A5;">
    <div class="col col-md-auto" >
        <form id="msform">
            <!-- progressbar -->
            <ul id="progressbar">
                <li class="active">Personal Details</li>
                <li>Appointment Date</li>
                <li>Account Setup</li>
            </ul>
            <!-- fieldsets -->
            <fieldset>
                <h2 class="fs-title">Personal Details</h2>
                <!--<h3 class="fs-subtitle">Tell us something more about you</h3>-->
                <input type="text" name="fullname" placeholder="Full Name"/>
                <input type="text" name="email" placeholder="Email"/>
                <input type="text" name="phone" placeholder="Phone"/>
                
                <input type="button" name="next" class="next action-button" value="Next"/>
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Appointment Date</h2>
                <!--<h3 class="fs-subtitle">Your presence on the social network</h3>--> 
               
                <p><i class="fas fa-clock"></i> 50 mins</p>
                <p><i class="fas fa-user"></i> 1 person</p>
                <p style="padding-bottom: 20px;"><i class="fas fa-map-marker-alt"></i> LifeLong London, UK </p>
                <input type="text" id="datepicker" placeholder="Date">

                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                <input type="button" name="next" class="next action-button" value="Next"/>
            </fieldset>
            <fieldset>
                <h2 class="fs-title">Appointment Time</h2>
                <!--<h3 class="fs-subtitle">Fill in your credentials</h3>-->
                <!-- Group of default radios - option 1 -->
<div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="defaultGroupExample1" name="groupOfDefaultRadios">
    <label class="custom-control-label" for="defaultGroupExample1">Option 1</label>
  </div>
  
  <!-- Group of default radios - option 2 -->
  <div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="defaultGroupExample2" name="groupOfDefaultRadios" checked>
    <label class="custom-control-label" for="defaultGroupExample2">Option 2</label>
  </div>
  
  <!-- Group of default radios - option 3 -->
  <div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="defaultGroupExample3" name="groupOfDefaultRadios">
    <label class="custom-control-label" for="defaultGroupExample3">Option 3</label>
  </div>

                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                <input type="submit" name="submit" class="submit action-button" value="Submit"/>
            </fieldset>
        </form>
    </div>
</div>
<!-- /.MultiStep Form -->