<div class="container mt-5">
    <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">Blog</h6>
    <h3 class="font-weight-bold text-center pb-2">Read Latest Articles From Us</h3>
    <hr class="w-header my-4">
    <p class="lead text-center text-muted pt-2 mb-5"></p>

    <div class="row">

      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
        <!-- Card -->
        <div class="card hoverable">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/58.jpg" alt="Card image cap">
          <!-- Card content -->
          <div class="card-body">
            <a href="#!" class="black-text">We relocated to a new garage</a>
            <p class="card-title text-muted font-small mt-3 mb-2">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
            <a type="button" class="custom-button">Read more<i class="fa fa-angle-right ml-2"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
        <!-- Card -->
        <div class="card hoverable">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/project4.jpg" alt="Card image cap">
          <!-- Card content -->
          <div class="card-body">
            <a href="#!" class="black-text">Top 5 content marketing strategies</a>
            <p class="card-title text-muted font-small mt-3 mb-2">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
            <a type="button" class="custom-button">Read more<i class="fa fa-angle-right ml-2"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-0">
        <!-- Card -->
        <div class="card hoverable">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/88.jpg" alt="Card image cap">
          <!-- Card content -->
          <div class="card-body">
            <a href="#!" class="black-text">Best practices for minimal design</a>
            <p class="card-title text-muted font-small mt-3 mb-2">Some quick example text to build on the card title and make up the bulk of the card's content. Some quick example text to build on the card title.</p>
            <a type="button" class="custom-button">Read more<i class="fa fa-angle-right ml-2"></i></a>
          </div>
        </div>
      </div>

    </div>

    <div class="text-center mt-5 mb-5">
    	<a class="btn btn-lg custom-button" href="#!">Browse All Articles</a>
    </div>

</div>