<div class="container mt-5">
  
  {% if lang == "tr" %}
    <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">Blog</h6>
    <h3 class="font-weight-bold text-center pb-2">Bizden Son Makaleleri Oku</h3>  
  {% else %}
    <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">Blog</h6>
    <h3 class="font-weight-bold text-center pb-2">Read Latest Articles From Us</h3>
  {% endif %}
  <hr class="w-header my-4">
  <p class="lead text-center text-muted pt-2 mb-5"></p>

  <div class="row">
    {% if latest_article_list %}
      {% for article in latest_article_list %}
        <div class="col-lg-4 col-md-12 mb-lg-0 mb-4 d-flex align-items-stretch">
          <!-- Card -->
          <div class="card hoverable">
            <img class="card-img-top" src="{{article.post_image.url}}" alt="Card image cap">
            <!-- Card content -->
            <div class="card-body">
              
              {% if lang == "tr" %}
                <a href="{% url "blog:detail" article.id %}" class="black-text" style="font-weight: bold;">{{article.post_headerTR}}</a>
                <p class="card-title text-muted font-small mt-3 mb-2">{{article.post_contentTR|safe|slice:":100"}}...</p>
                <a href="{% url "blog:detail" article.id %}" type="button" class="custom-button">Daha fazla oku<i class="fa fa-angle-right ml-2"></i></a>
              {% else %}
                <a href="{% url "blog:detail" article.id %}" class="black-text" style="font-weight: bold;">{{article.post_header}}</a>
                <p class="card-title text-muted font-small mt-3 mb-2">{{article.post_content|safe|slice:":100"}}...</p>
                <a href="{% url "blog:detail" article.id %}" type="button" class="custom-button">Read more<i class="fa fa-angle-right ml-2"></i></a>
              {% endif %}
                
              
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}

  </div>

  <div class="text-center mt-5 mb-5">
    
    {% if lang == "tr" %}
      <a class="btn btn-lg custom-button" href="{% url "blog:index" %}">MAKALELERE GÖZAT</a>
    {% else %}
      <a class="btn btn-lg custom-button" href="{% url "blog:index" %}">BROWSE ARTICLES</a>  
    {% endif %}
  </div>

</div>