<div class="banner">
    <div class="banner_img-wrapper">
      <img class="banner_img" src="/static/banner.png" alt="banner background">
    </div>
    <div class="banner_text">
      <h3 class="banner-header"><i class="fas fa-calendar-day"></i> Free Online Appointment</h3>
      <p class="banner-subheader">Fill out the form to arrange free 30 minutes consulting </p>
      <a href="https://forms.gle/6VnAwZCqbwWc3tCx7" class="btn btn-white btn-shadow"><i class="fas fa-caret-right"></i> Begin</a>
    </div>
    <svg class="curve-mask" preserveAspectRatio="none" viewBox="0 0 1024 96" xmlns="http://www.w3.org/2000/svg">
      <g id="Curve-Experiments" fill="none" fill-rule="evenodd">
        <g id="Curve-A" transform="translate(0 -349)" fill="#FFF" fill-rule="nonzero">
          <path d="M0 398.663c470.834 145.75 491.222-163.652 1024 0v46.08H0v-46.08z" id="mo-curve"/>
        </g>
      </g>
    </svg> 
</div>