<div class="white-text p-5 rounded z-depth-1" style="background-color: #B000F7;">
    <div class="row">

        <div class="col-md-4 mb-4">
            <div class="row">
                <div class="col-6 pr-0">
                    <h4 class="display-4 text-right mb-0 counter-location" data-from="0" data-to="2" data-time="2000">2</h4>
                </div>

                <div class="col-6">
                    <p class="text-uppercase font-weight-normal mb-1">Locations</p>
                    <p class="mb-0"><i class="fas fa-map-marked-alt fa-2x mb-0"></i></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="row">
                <div class="col-6 pr-0">
                    <h4 class="display-4 text-right mb-0 counter-patient" data-from="0" data-to="800" data-time="2000">800</h4>
                </div>

                <div class="col-6">
                    <p class="text-uppercase font-weight-normal mb-1">Patients</p>
                    <p class="mb-0"><i class="fas fa-users fa-2x mb-0"></i></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="row">
                <div class="col-6 pr-0">
                    <h4 class="display-4 text-right"><span class="d-flex justify-content-end"><span class="counter-satisfaction" data-from="0" data-to="99" data-time="2000">99</span> %</span></h4>
                </div>

                <div class="col-6">
                    <p class="text-uppercase font-weight-normal mb-1">Satisfaction</p>
                    <p class="mb-0"><i class="fas fa-smile fa-2x mb-0"></i></p>
                </div>
            </div>
        </div>

    </div>
</div>
  
