<div class="purple-gradient">
    <div class="container  my-5 p-5">
  
      <h6 class="font-weight-bold text-center text-light text-uppercase small mb-4">About</h6>
      <h3 class="font-weight-bold text-center white-text pb-2">Why Should You Choose Us?</h3>
      <hr class="w-header white my-4">
      <p class="lead text-center text-muted pt-2 mb-5"></p>
  
      <div class="row white-text">
  
        <div class="col-md-6 col-xl-3 mb-4 d-flex align-items-stretch">
          {% include 'components/feature.html' with iconName="icon-fa fas fa-life-ring fa-2x" featureTitle="Common Conditions" featureText="Depression, stress, anxiety, trauma, eating disorders,obesity, body image difficulties are just some of the conditions we can help with." %}
        </div>
  
        <div class="col-md-6 col-xl-3 mb-4 d-flex align-items-stretch">
          {% include 'components/feature.html' with iconName="icon-fa fas fa-puzzle-piece fa-2x" featureTitle="What We Offer" featureText="Offering face-to-face or online wide range of Individual, Couples, and Group Therapies, as well as Professional Trainings and Clinical Supervision." %}
        </div>
  
        <div class="col-md-6 col-xl-3 mb-4 d-flex align-items-stretch">
          {% include 'components/feature.html' with iconName="icon-fa fas fa-network-wired fa-2x" featureTitle="Meat The Team" featureText="Multi-disciplinary team made up of Psychiatrists, Psychologists, Psychotherapists." %}
        </div>
  
        <div class="col-md-6 col-xl-3 mb-4 d-flex align-items-stretch">
          {% include 'components/feature.html' with iconName="icon-fa fas fa-key fa-flip-horizontal fa-flip-vertical fa-2x" featureTitle="Accessing Our Services" featureText="Access our services by contacting us directly or making an appointment. We also accept referrals from other health practitioners including GPs and Psychiatrists." %}
        </div>
  
      </div>
      
    </div>
  </div>