<footer class="page-footer font-small purple darken-3">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Grid row-->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-12 py-5">
          <div class="mb-4 flex-center">
  
            <!-- Facebook -->
            <a class="fb-ic social-footer-facebook">
              <i class="fab fa-facebook-f fa-lg white-text fa-2x social-footer-child"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic social-footer-twitter">
              <i class="fab fa-twitter fa-lg white-text fa-2x social-footer-child"> </i>
            </a>

            <!--Instagram-->
            <a class="ins-ic social-footer-instragram">
              <i class="fab fa-instagram fa-lg white-text fa-2x social-footer-child"> </i>
            </a>

          </div>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://www.lifelongtherapy.com/"> Lifelong Counselling</a>
    </div>
    <!-- Copyright -->
  
  </footer>