<nav class="mb-1 navbar fixed-top navbar-expand-lg navbar-light default-color custom-navbar">
    <div class="container" style="max-width: 1200px;">
        <a class="navbar-brand" href="/">
            {% load static %}
            <img src="{% static "logo.png" %}" alt="mdb logo" width="200px">
        </a>
        <button class="navbar-toggler purple-gradient" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown custom-item">
                    <a class="nav-link dropdown-toggle custom-link" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Services
                    </a>
                    <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
                        <a class="dropdown-item" style="color: #B000F7;" href="{% url 'services' name="addiction-counselling" %}">Addiction Counselling</a>
                        <a class="dropdown-item" style="color: #B000F7;" href="{% url 'services' name="adolescent-counselling" %}">Adolescent Counselling</a>
                        <a class="dropdown-item" style="color: #B000F7;" href="{% url 'services' name="couples-and-marriage-counselling" %}">Couples and Marriage Counselling</a>
                        <a class="dropdown-item" style="color: #B000F7;" href="{% url 'services' name="family-counselling" %}">Family Counselling</a>
                        <a class="dropdown-item" style="color: #B000F7;" href="{% url 'services' name="individual-counselling" %}">Individual Counselling</a>                     
                    </div>
                </li>
                <li class="nav-item custom-item">
                    <a class="nav-link custom-link" href="{% url 'blog:index' %}">Blog
                    </a>
                </li>
                <li class="nav-item custom-item">
                    <a class="nav-link custom-link" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item custom-item">
                    <a class="nav-link custom-link" href="{% url 'contact' %}">Contact</a>
                </li>
                <li class="nav-item custom-item">
                    <a class="nav-link custom-link" href="{% url 'contact' %}">Online Therapy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link custom-button" href="#"><i class="fas fa-calendar-alt"></i> Appointment</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons social-links">
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light">
                        <i class="fab fa-facebook" style="color: #0d47a1;"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light">
                        <i class="fab fa-twitter" style="color: #4285F4;"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light">
                        <i class="fab fa-instagram" style="color: #DD2A7B"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>