<div class="card">
    <!-- Card image -->
    <img class="card-img-top" src={{cardImage}} alt="Card image cap">
    <!-- Card content -->
    <div class="card-body text-center">
        <!-- Title -->
        <h4 class="card-title py-2"><a>{{cardTitle}}</a></h4>
        <!-- Text -->
        <p class="card-text mb-3">{{cardText}}</p>
        <!-- Button -->
        <a type="button" href="{% url 'services' slug %}" class="btn purple-gradient btn-rounded"><i class="fas fa-caret-right mr-2" aria-hidden="true"></i>Details</a>
    </div>

</div>
