<div class="container my-5 px-5 pt-5 pb-3 z-depth-1 text-center dark-grey-text">
    <div class="row">
    
        <div class="col-md-12 mb-4">
            <div class="wrapper-carousel-fix">
                <div id="carousel-example-1" class="testimonial carousel no-flex testimonial-carousel slide" data-ride="carousel" data-interval="false">
                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">
                        
                        <div class="carousel-item active">
                            <p class="lead font-italic">"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, voluptas nostrum quisquam!"</p>
                            <div class="view card-img-64 mx-auto mt-5 mb-2">
                                <i class="fas fa-user-circle fa-3x" style="color:deeppink;"></i>
                            </div>
                            <p class="text-muted">- Anna Morian</p>
                        </div>
                        
                        <div class="carousel-item">
                            <p class="lead font-italic">"Neque cupiditate assumenda in maiores repudiandae mollitia adipisci maiores repudiandae mollitia consectetur adipisicing architecto elit sed adipiscing elit."</p>
                            <div class="view card-img-64 mx-auto mt-5 mb-2">
                                <i class="fas fa-user-circle fa-3x" style="color:deepskyblue;"></i>
                            </div>
                            <p class="text-muted">- Jack Hunter</p>
                        </div>
                        
                        <div class="carousel-item">
                            <p class="lead font-italic">"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur est laborum neque cupiditate assumenda in maiores."</p>
                            <div class="view card-img-64 mx-auto mt-5 mb-2">
                                <i class="fas fa-user-circle fa-3x" style="color:deeppink;"></i>
                            </div>
                            <p class="text-muted">- Kate Allise</p>
                        </div>
            
                    </div>
                    <!--Slides-->
                    
                    <!--Controls-->
                    <a class="carousel-control-prev left carousel-control" href="#carousel-example-1" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" style="background-color: blueviolet;" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next right carousel-control" href="#carousel-example-1" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" style="background-color: blueviolet;" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <!--Controls-->
                </div>
            </div>
        </div>
 
    </div>
</div>      